//! **************************************************************************
// Written by: Map P.20131013 on Thu Mar 02 18:39:26 2017
//! **************************************************************************

SCHEMATIC START;
COMP "switch_dn" LOCATE = SITE "M18" LEVEL 1;
COMP "switch_up" LOCATE = SITE "K17" LEVEL 1;
COMP "CONTROL_PIN" LOCATE = SITE "U7" LEVEL 1;
COMP "CLK" LOCATE = SITE "V10" LEVEL 1;
SCHEMATIC END;

